.ongoing_back {
  background-color: #222222;
  width: 100vh;
  min-height: calc(100vh - 50px);
  padding: 0px;
  .webCamera {
    background-color: #555555;
    width: 150px;
    height: 150px;
    float: right;
    margin-top: 5%;
    margin-right: -5%;
    position: absolute;
    right: 8%;
    color: white;
    text-align: center;
    @media screen and (max-width: 605px) {
      margin-right: 0px;
      margin-top: 95%;
      width: 120px;
      height: 120px;
    }
    @media (max-width : 605px) and(min-width : 550px) {
      margin-top: 85%; 
    }
    @media (max-width : 549px) and(min-width : 490px) {
      margin-top: 90%; 
    }
    // @media screen and (max-width: 605px) {
    //   margin-right: 0px;
    //   margin-top: 80%;
    //   width: 120px;
    //   height: 120px;
    // }
    @media screen and (min-width: 1400px) {
      margin-right: 1%;
    }
    @media screen and (min-width: 1700px) {
      margin-right: 5%;
    }
    @media screen and (min-width: 1850px) {
      margin-right: 9%;
    }
    img {
      margin-top: 15px;
    }
    p {
      font-size: 15px;
      margin-top: 10px;
      @media screen and (max-width: 605px) {
        margin-bottom: 1px;
      }
    }
    button {
      background-color: #0074d2;
      color: white;
      width: 95%;
      font-size: 15px;
      @media screen and (max-width: 605px) {
        font-size: 10px;
      }
    }
  }
  .avatar_div {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    h6 {
      color: white;
      margin-top: 15px;
    }
    p {
      color: #aaaaaa;
      font-size: 13px;
    }
  }
}

footer {
  background-color: #333333;
  color: white;
  padding: 0px;
  bottom: 0;
  width: 100%;
  position: fixed;
  .get_help {
    @media screen and (max-width: 400px) {
      display: none;
    }
  .turn_off, .mute_mic, .settings, .leave {
    @media screen and (max-width: 400px) {
      display: none;
    }
  }
  }
  .blank {
    float: left;
    width: 30px;
    color: #333333;
  }
  .right_blank {
    float: right;
    width: 30px;
    color: #333333;
  }
  .icon_div {
    float: left;
    padding: 0px 10px;
    border-right: 1px solid grey;
    cursor: pointer;
    img {
      width: 20px;
      margin-top: 8px;
    }
    p {
      font-size: 12px;
      margin-bottom: 5px;
      cursor: pointer;
    }
  }
  .right_icon_div {
    float: right;
    padding: 0px 10px;
    border-left: 1px solid grey;
    img {
      width: 20px;
      margin-top: 8px;
    }
    p {
      font-size: 12px;
      margin-bottom: 5px;
      cursor: pointer;
    }
  }
  .info {
    float: left;
    padding-left: 10px;
    position: relative;
    left: 2%;
    transform: translate(-50%, 50%);
    @media screen and (max-width: 790px) {
      display: none;
    }
  }
  .info_text {
    float: left;
    font-size: 13px;
    padding-top: 10px;
    padding-left: 2%;
    cursor: pointer;
    @media screen and (max-width: 790px) {
      display: none;
    }
  }
  .link_button {
    float: right;
    .btn {
      color: white;
      border-radius: 25px;
      background-color: blue;
      margin-top: 10px;
      padding: 5px 30px;
      margin-right: 15px;
      font-size: 15px;
    }
    @media screen and (max-width: 610px) {
      display: none;
    }
  }
  .url_text {
    float: right;
    padding-top: 15px;
    margin-right: 10px;
    a {
      text-decoration: none;
      color: white;
    }
    @media screen and (max-width: 1100px) {
      display: none;
    }
  }
}

.pop_over {
  .text {
    padding-left: 25px;
    padding-right: 50px;
  }
  .image {
    img {
      margin: 0px 10px;
    }
  }
}



.card_contents {
  margin: 10% 0px;
  @media screen and (max-width: 1024px) {
    margin: 15% 0px;
  }
  @media screen and (max-width: 555px) {
    margin: 25% 0px;
  }
}